.main-bg{
    background-color:#fffbf0;
}
.main-bg ul{
    margin-right: 80px;
}
.nav-link{
    color: #000;
    font-weight: bold;
    font-size: 18px;
}.btn-buy{
    background-color: #97b033;
    color: #fff;
    padding: .9rem;
    border-radius: 5%;
}
.btn-buy img{
  margin-right: 12px;
}
.main-text{
   padding-top:6rem;
}
.main-text h1{
    text-transform: uppercase;
    font-size: 48px;
}
.main-text h1 .pen{
    color:#fabe4c;
    margin-bottom: 5px;
}
.main-text p{
    font-size: 18px;
    margin: 20px 0 ;
}
