.main-bg{
    background-color:#fffbf0;
}
.main-bg ul{
    margin-right: 80px;
}
.nav-link{
    color: #000;
    font-weight: bold;
    font-size: 18px;
}.btn-buy{
    background-color: #97b033;
    color: #fff;
    padding: .9rem;
    border-radius: 5%;
}
.btn-buy img{
  margin-right: 12px;
}
.main-text{
   padding-top:6rem;
}
.main-text h1{
    text-transform: uppercase;
    font-size: 48px;
}
.main-text h1 .pen{
    color:#fabe4c;
    margin-bottom: 5px;
}
.main-text p{
    font-size: 18px;
    margin: 20px 0 ;
}
.w-jacket h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.card{
    border: none;
    border-radius:2% 2% 2% 2%;
    box-shadow: 5px 5px 5px #ddd ;
}
.card-img-top{
    height: 350px;
    background-color:#f1f1f1;
    padding: 7%;
}
.card-title{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}
.price{
    font-size: 32px;
    color: #fabe4c;
    margin-top: 20px;
    font-weight: bold;
}
.met{
   margin-top: 7rem; 
}
.benifits{
    margin:2rem 0;
    box-shadow: 5px 5px 5px #ddd;
    padding: 0rem 1rem;
}
.benifits img{
  margin-right: 4rem;
}
